// nextflow.config file for dog_gwas_heritability.nf

// docker container and apptainer specifications
process.container = 'vistasohrab/terra-dogagingproject-gwas:v1.0'
apptainer.enabled = true
apptainer.autoMounts = true
apptainer.cacheDir = '/scratch/vsohrab/apptainerdir'

// working directory
params.outdir = '/scratch/vsohrab/nextflow_dap_gwas_pipeline'


executor {

     exitReadTimeout = '36000 sec'
     queueSize = 300

}

process {

    executor = 'slurm'
    java = '/packages/apps/spack/18/opt/spack/gcc-12.1.0/jdk-12.0.2_10-6lo/bin/java'
    queue = 'public'

   
    withName: FILTER_PLINKSET {
 
        memory = '5G'
        time = '20m'
        clusterOptions = '-p general'
 
    }

    withName: CREATE_FULL_GRM {

	memory = '32G'
        time = '2h'
        cpus = 8
        clusterOptions = '-p general' 
 
    }

    withName: CALCULATE_CHRLEVEL_LDSCORE {

        memory = '20G'
        time = '2h'
        cpus = 8
        clusterOptions = '-p general' 

    }

    withName: GENERATE_PHENOFILE {

        memory = '12G'
        time = '20m'
        clusterOptions = '-p general'

}

    withName: CREATE_LDSTRATIFIED_GRMS {

        memory = '10G'
        time = '3h'
        cpus = 8
        clusterOptions = '-p general'

    }


    withName: CALCULATE_HERITABILITY_REML_LDSTRATIFIED_CONSTRAINED {
       
       memory = '32G'
       time = '3h'
       cpus = 8 
       clusterOptions = '-p general'

    }

    withName: CALCULATE_HERITABILITY_REML_LDSTRATIFIED_NOCONSTRAINT {

       memory = '32G'
       time = '3h'
       cpus = 8
       clusterOptions = '-p general'

}

    withName: CALCULATE_HERITABILITY_REML_CONSTRAINED {
        
       memory = '10G'
       time = '1h'
       clusterOptions = '-p general'
  
    }

    withName: CALCULATE_HERITABILITY_REML_NOCONSTRAINT {

       memory = '10G'
       time = '1h'
       clusterOptions = '-p general'

}

    withName: GWAS_MLMA_LOCO {

       memory = '20G'
       time = '12h'
       cpus = 8
       clusterOptions = '-p general'

    }

    withName: MERGE_GWAS_RESULTS {
 
       memory = '8G'
       time = '30m'
       clusterOptions = '-p general'

}

    withName: CLUMP {
    
       memory = '2G'
       time = '30m' 
       clusterOptions = '-p general'

    } 
   
    withName: PLOT_MANHATTAN_QQPLOT {

      memory = '32G'
      time = '1h'
      clusterOptions = '-p general'

    }  

}

