// nextflow.config file for dog_gwas_heritability_multiple_phenotypes.nf

// docker container and apptainer specifications
process.container = 'vistasohrab/terra-dogagingproject-gwas:v1.0'
apptainer.enabled = true
apptainer.autoMounts = true
apptainer.cacheDir = '/home/unix/vsohrab'

// working directory
params.outdir = '/seq/vgb/vsohrab/fresh_gwas_nextflow_pipeline'

executor {

     exitReadTimeout = '36000 sec'

}

process {

    executor = 'sge'
    java = '/broad/software/free/Linux/redhat_7_x86_64/pkgs/jdk/jdk-11.0.16.1+1/bin/java'
    queue = 'broad'
    sge.qsub = '/broad/uge/8.5.5/bin/lx-amd64/qsub'

    withName: FILTER_PLINKSET {
 
        clusterOptions = '-l h_vmem=16g -l h_rt=0:20:00'
    
    }

    withName: GENERATE_PHENOFILE {


        clusterOptions = '-l h_vmem=8g -l h_rt=0:15:00'
    }

    withName: CREATE_FULL_GRM {
 
	clusterOptions = '-pe smp 2 -binding linear:2 -R y -l h_vmem=32g -l h_rt=3:00:00'
    }

    withName: CALCULATE_CHRLEVEL_LDSCORE {

        clusterOptions = '-pe smp 4 -l h_vmem=96g -l h_rt=6:00:00'

    }

    withName: CREATE_LDSTRATIFIED_GRMS {

        clusterOptions = '-pe smp 4 -l h_vmem=96g -l h_rt=2:00:00'

    }

    withName: CALCULATE_HERITABILITY_REML_LDSTRATIFIED_CONSTRAINED {

        clusterOptions = '-l h_vmem=20G -l h_rt=1:00:00'

    }

    withName: CALCULATE_HERITABILITY_REML_LDSTRATIFIED_NOCONSTRAINT {

        clusterOptions = '-l h_vmem=20G -l h_rt=1:00:00' 

    }

    withName: CALCULATE_HERITABILITY_REML_CONSTRAINED {
   
	clusterOptions = '-l h_vmem=20g -l h_rt=1:00:00'
    }

    withName: CALCULATE_HERITABILITY_REML_NOCONSTRAINT {

	clusterOptions = '-l h_vmem=20g -l h_rt=1:00:00'

    }

    withName: MERGE_GWAS_RESULTS {


	clusterOptions = '-l h_vmem=8g -l h_rt=0:30:00'

    }

    withName: GWAS_MLMA_LOCO {

       clusterOptions = '-pe smp 4 -l h_vmem=96g -l h_rt=9:00:00'

    }

    withName: CLUMP {

       clusterOptions = '-l h_vmem=20g -l h_rt=1:00:00'

    }

    withName: PLOT_MANHATTAN_QQPLOT {

       clusterOptions = '-l h_vmem=32g -l h_rt=1:00:00'

    }


}

